<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/books.css'%}">
    <title>Books/Authors - Books</title>
</head>
<body>
    <nav>
        <h1>Books & Authors</h1>
        <a href="/">Books</a>
        <a href="/authors">Authors</a>
    </nav>

    <div class="container">
        <h1>Add a Book</h1>
        <section class="split-screen">
            <form action="/books/create" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control"></textarea>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.title }}</td>
                    <td><a href="/books/{{ book.id }}">View</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>